@font-face {
  font-display: swap; 
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/amaranth-v18-latin-regular.woff2') format('woff2'), 
       url('../fonts/amaranth-v18-latin-regular.woff') format('woff');
}
/* amaranth-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/amaranth-v18-latin-700.woff2') format('woff2'), 
       url('../fonts/amaranth-v18-latin-700.woff') format('woff');
}
:root {
  --text-color: #6c6a6afe;
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Amaranth';
}
.box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(46, 46, 255, 0.25) 0px 30px 60px -12px inset, rgba(57, 57, 255, 0.3) 0px 18px 36px -18px inset;
}
.card {
  width: 500px; 
}
.img-box {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 100px;
  box-shadow: rgba(37, 37, 255, 0.25) 0px 50px 100px -20px, rgba(67, 58, 255, 0.3) 0px 30px 60px -30px;
}
.img-box__img {
 width: 100%;
}
.accaunt-box{
  width: 100%;
  display: flex;
  justify-content: center;
}
.accaunt-box__email {
  margin-top: 20px;
  font-size: 40px;
  font-weight: bolder;
  text-decoration: none;
  color:var(--text-color);
}
.list {
  list-style: none;
  padding: 0;
}
.list-link {
  transition: all 0.5s linear;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: rgba(95, 41, 255, 0.1) 0px 4px 12px;
  margin-top: 20px;
  border-radius: 50px;
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  color:var(--text-color);
  position: relative;
}
.list-link::before {
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../images/instagram.png");
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top:50%;
  transform: translateY(-50%);
  box-shadow: rgba(255, 255, 255, 0.441) 0px 54px 55px, rgba(255, 255, 255, 0.301) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

.list-item:nth-child(2) .list-link::before {
  background-image: url("../images/telegram.png");
}
.list-item:nth-child(3) .list-link::before {
  background-image: url("../images/behance.png");
}
.list-link:hover {
  transition: all 0.5s linear;
  background: linear-gradient(24deg, rgba(252,183,2,1) 0%, rgba(251,0,116,1) 65%, rgba(190,9,202,1) 100%);
  color: #fff;
}
.list-item:nth-child(2) .list-link:hover {
background: #28A8EA !important;
}
.list-item:nth-child(3) .list-link:hover {
  background: #0057FF !important;
  }